{% liquid
  assign button_style = style | default: 'primary'
  assign button_url = url | default: '#'
  assign button_label = label | default: 'Learn More'
%}

<a
  href="{{ button_url }}"
  class="lb-button lb-button--{{ button_style }}"
>

  {{ button_label }}

</a>