{% liquid
  assign card_product = product | default: card

  assign show_vendor = show_vendor | default: settings.show_vendor
  assign show_badges = show_badges | default: true
  assign show_price = show_price | default: true
  assign show_image = show_image | default: true
%}

{% if card_product %}

<article class="lb-product-card">

  <a href="{{ card_product.url }}" class="lb-product-card__link">

    {% if show_image and card_product.featured_image %}
      {% render 'media',
        image: card_product.featured_image,
        alt: card_product.title,
        class: 'lb-product-card__image'
      %}
    {% endif %}

    {% if show_badges %}

      {% if card_product.available == false %}
        {% render 'badge', type: 'sold-out' %}

      {% elsif card_product.compare_at_price > card_product.price %}
        {% render 'badge', type: 'sale' %}

      {% endif %}

    {% endif %}

    <div class="lb-product-card__content">

      <h3 class="lb-product-card__title">
        {{ card_product.title }}
      </h3>

      {% if show_vendor %}
        <div class="lb-product-card__vendor">
          {{ card_product.vendor }}
        </div>
      {% endif %}

      {% if show_price %}
        {% render 'price',
          product: card_product
        %}
      {% endif %}

    </div>

  </a>

</article>

{% endif %}