<div class="lb-product-information">

    {% render 'product-labels', product: product %}

    {% render 'product-price', product: product %}

    {% render 'product-status', product: product %}

    {% render 'product-features', product: product %}

</div>