<div class="lb-share-buttons">

<a
href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}"
target="_blank"
rel="noopener">

Facebook

</a>

<a
href="https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}"
target="_blank"
rel="noopener">

Pinterest

</a>

</div>