<footer>
  <div class="fg">
    <div>
      <div class="flw">
        <span class="flt">Lacquer</span>
        <span class="flb">BRU</span>
      </div>
      <p class="ftag">
        Multidisciplinary creative studio rooted in aerosol culture.<br>
        Transforming spaces into experiences since 2008.<br>
        <span>If Not Unique, Why Bother.</span>
      </p>
      <div class="fsoc">
        <a href="https://www.instagram.com/lacquer_bru" target="_blank" rel="noopener">Instagram</a>
        <a href="https://www.tiktok.com/@lacquer_bru" target="_blank" rel="noopener">TikTok</a>
        <a href="https://www.youtube.com/@LacquerBru" target="_blank" rel="noopener">YouTube</a>
      </div>
    </div>

    <div class="fc">
      <h4>Shop</h4>
      <a href="/collections/all">All Products</a>
      <a href="/pages/shop">Brush Packs</a>
      <a href="/pages/shop">Digital Assets</a>
      <a href="/pages/shop">Limited Prints</a>
    </div>

    <div class="fc">
      <h4>Explore</h4>
      <a href="/pages/gallery">Gallery</a>
      <a href="/pages/featured-projects">Featured Projects</a>
      <a href="/pages/about">About</a>
      <a href="/pages/commission">Commission</a>
    </div>

    <div class="fc">
      <h4>Contact</h4>
      <a href="mailto:howzit@lacquerbru.co.za">howzit@lacquerbru.co.za</a>
      <a href="tel:+27656656693">+27 65 665 6693</a>
      <a href="/pages/contact">Contact Page</a>
      <a href="/pages/commission">Request a Quote</a>
    </div>
  </div>

  <div class="fb">
    <p class="fcp">&copy; {{ 'now' | date: '%Y' }} Lacquer Bru Creative Studio. If Not Unique, Why Bother. All rights reserved.</p>
    <div class="fleg">
      <a href="/policies/privacy-policy">Privacy</a>
      <a href="/policies/refund-policy">Refunds</a>
      <a href="/policies/terms-of-service">Terms</a>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "LB Footer",
  "settings": []
}
{% endschema %}
